.header {
  display: flex;
  border: 1px solid black;
  height: 100px;
  width: 100%;
  background-color: blue;
}

.logo-container {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input {
  width: 75%;
  padding: 5px 10px;
  font-size: 1.5rem;
  outline: none;
}

.image-container {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.data-container {
  height: 600px;
  width: 200px;
  border: 1px solid black;
}